src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <flow name="cin7-prc-api-main">
        <http:listener config-ref="cin7-prc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Request Logger" doc:id="c1bbac4c-4efa-4726-8bcd-1299445f2ccd" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;Request Logger&quot;,&#xA;  MetaData: &quot;Request received in cin7-prc-api&quot;,&#xA;  correlationId: correlationId,&#xA;  payload: payload&#xA;}]" />
        <apikit:router config-ref="cin7-prc-api-config" />
    </flow>
    <flow name="post:\customers:application\json:cin7-prc-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="1f1b2425-0059-431f-ba88-7864837fc7f5" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started upsert in customer, contact and address object in salesforce&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <flow-ref doc:name="Cin7-SF Customer Subflow" doc:id="0f7f803e-dbd4-4d86-85ad-8db43f3e66ac" name="sales-representative-and-customer-implementation-subflow" />
		<logger level="INFO" doc:name="Log Exit" doc:id="adb67f49-4915-48f2-8a29-aaeb2d48b81b" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended upsert in customer, contact and address object in salesforce&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\products:application\json:cin7-prc-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="8d593497-b2df-4c96-8645-0d8364491c1b" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started upsert in product object in salesforce&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var operationName = "UPSERT" ++ "-" ++ "PRODUCT"
---
{
	"operation": operationName,
	"dwl": Mule::p("operation.$(operationName).dwl") as String,
	"requestBody": payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="product-implementation-subFlow" doc:id="1cacc2e0-c2df-4fa9-bcf4-7c0b7893873a" name="product-implementation-subFlow" />
        <logger level="INFO" doc:name="Log Exit" doc:id="5b3f8bde-6b74-40ed-935b-911672f14704" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended upsert in product object in salesforce&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\salesOrders:application\json:cin7-prc-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="28dcc050-c54c-4b38-8812-c68a407c3310" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Sales Order in process api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request" doc:id="66c87c62-8b71-468c-b874-82107c8361aa">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-sale-order.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Create Sale-Order Subflow" doc:id="b0986b01-e822-4f75-96da-f72bfe0061d0" name="create-sales-order-cin7-sf-subflow" />
        <logger level="INFO" doc:name="Log Exit" doc:id="ae22d3f5-1fa5-4d81-8970-6674e0a3bd0b" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended upsert in Sales Order object in salesforce&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="account-contact-address-change-event-flow" doc:id="02ff29d2-d68e-4620-baf0-f18807c45bda" maxConcurrency="1">
        <salesforce:subscribe-channel-listener streamingChannel="${salesforce.account-event}" doc:name="Account-Contact-Address Change Event Listener" doc:id="ea8dbf4c-0dbe-4879-aac8-b10a4b7c1c02" config-ref="Salesforce_Config" />
        <logger level="INFO" doc:name="Request Logger" doc:id="46e70389-c8e0-4215-9a4c-2f9fe4ae66bd" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;Request Logger&quot;,&#xA;  MetaData: &quot;Request received in cin7-prc-api Customer/Contact event&quot;,&#xA;  correlationId: correlationId,&#xA;  payload: payload&#xA;}]" />
        <flow-ref doc:name="Create Request" doc:id="7c3bc6b7-e2ad-4748-a57a-dbad3b7b8398" name="get-account-contact-address-from-sf" />
        <logger level="INFO" doc:name="Log Start" doc:id="abb2f30f-122e-4b7b-b016-5535552913d0" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Cin7-process-api Customer event started&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <flow-ref doc:name="sf-cin7-implementationSub_Flow" doc:id="c4b55e72-1208-4d96-bdb2-63d079edc44a" name="sf-cin7-implementation-subFlow" />
        <logger level="INFO" doc:name="Log Exit" doc:id="2fa568a1-4d2b-46f2-8ce3-7eeda9c0d13c" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended upsert in Cin7 and also synced the response back to Salesforce&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
	<flow name="post:\orderItems:application\json:cin7-prc-api-config">
		<logger level="INFO" doc:name="Log Start" doc:id="e5017661-3e2a-468b-b6fd-9c277422267c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "ENTRY",&#10;  MetaData: "Cin7-process-api Sale event started",&#10;  correlationId: correlationId&#10;}]' />
		<flow-ref doc:name="Sales Order SF-CIN7 Subflow" doc:id="517734c0-d8c7-4aa6-9680-30eba5b58e6b" name="sales-order-sf-cin7-subflow" />
		<ee:transform doc:name="Response Transformation">
            <ee:message>
				<ee:set-payload resource="dwls/sf-order-orderitems-success-response.dwl" />
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Log Exit" doc:id="19028660-8aad-4448-b4a7-777f3d22ec09" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "EXIT",&#10;  MetaData: "Ended upsert in Cin7 and also synced the response back to Salesforce",&#10;  correlationId: correlationId&#10;}]' />
    </flow>
	<!-- [STUDIO:"put:\salesOrders:application\json:cin7-prc-api-config"]<flow name="put:\salesOrders:application\json:cin7-prc-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow> [STUDIO] -->
	<!-- [STUDIO:"post:\stocks:application\json:cin7-prc-api-config"]<flow name="post:\stocks:application\json:cin7-prc-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow> [STUDIO] -->
</mule>
